<?xml version="1.0"?>
<config>
  <modules>
    <Omniesolutions_Sorting>
      <version>0.1.0</version>
    </Omniesolutions_Sorting>
  </modules>
  <global>
    <helpers>
      <sorting>
        <class>Omniesolutions_Sorting_Helper</class>
      </sorting>
    </helpers>
	<blocks>
	  <sorting>
		<class>Omniesolutions_Sorting_Block</class>
	  </sorting>
			<catalog>
				<rewrite>
					<product_list_toolbar>Omniesolutions_Sorting_Block_Catalog_Product_List_Toolbar</product_list_toolbar>
				</rewrite>
			</catalog>
	</blocks>
	<models>
	  <sorting>
		<class>Omniesolutions_Sorting_Model</class>
		<resourceModel>sorting_mysql4</resourceModel>
	  </sorting>
			<catalog>
				<rewrite>
					<config>Omniesolutions_Sorting_Model_Catalog_Config</config>
				</rewrite>
			</catalog>
			<catalog_resource>
				<rewrite>
					<product_collection>Omniesolutions_Sorting_Model_Catalog_Resource_Product_Collection</product_collection>
				</rewrite>
			</catalog_resource>
	</models>
  </global>
</config> 