<?xml version="1.0"?>
<config>
  <modules>
    <Omniesolutions_Retailers>
      <version>0.1.0</version>
    </Omniesolutions_Retailers>
  </modules>
  <frontend>
    <routers>
      <retailers>
        <use>standard</use>
          <args>
            <module>Omniesolutions_Retailers</module>
            <frontName>retailers</frontName>
          </args>
      </retailers>
    </routers>
		<layout>
		  <updates>
			<retailers>
			  <file>retailers.xml</file>
			</retailers>
		  </updates>
		</layout>
  </frontend>
  <global>
		<rewrite>        
            <omniesolutions_retailers_customer_accountcontroller>
                <from><![CDATA[#^/customer/account/#]]></from> <!-- Mage_Customer_AccountController  -->
                <to>/retailers/customer_account/</to> <!-- Omniesolutions_Retailers_Customer_AccountController  -->
            </omniesolutions_retailers_customer_accountcontroller>
		</rewrite>
    <helpers>
      <retailers>
        <class>Omniesolutions_Retailers_Helper</class>
      </retailers>
        <customer>
			<rewrite>
				<data>Omniesolutions_Retailers_Helper_Customer_Data</data>
            </rewrite>
        </customer>
    </helpers>
	<blocks>
	  <retailers>
		<class>Omniesolutions_Retailers_Block</class>
	  </retailers>
			<customer>
				<rewrite>
					<form_login>Omniesolutions_Retailers_Block_Customer_Form_Login</form_login>
				</rewrite>
			</customer>
	</blocks>
	<models>
	  <retailers>
		<class>Omniesolutions_Retailers_Model</class>
		<resourceModel>retailers_mysql4</resourceModel>
	  </retailers>
	  <retailers_mysql4>
		<class>Omniesolutions_Retailers_Model_Mysql4</class>
		<entities>		  
			  <customerinfo>
				<table>customerinfo</table>
			  </customerinfo>
        </entities>
	  </retailers_mysql4>
	</models>
	<resources>
	  <retailers_setup>
		<setup>
		  <module>Omniesolutions_Retailers</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </retailers_setup>
	  <retailers_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </retailers_write>
	  <retailers_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </retailers_read>
	  <customerattribute1441940554_setup>
		<setup>
		  <module>Omniesolutions_Retailers</module>
		  <class>Mage_Customer_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerattribute1441940554_setup>
	  <customerattribute1441940554_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerattribute1441940554_write>
	  <customerattribute1441940554_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerattribute1441940554_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <retailers>
	    <use>admin</use>
		<args>
		  <module>Omniesolutions_Retailers</module>
		  <frontName>admin_retailers</frontName>
		</args>
	  </retailers>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <retailers module="retailers">
		<title>Retailers</title>
		<sort_order>100</sort_order>
		<children>
		  <customerinfo module="retailers">
		    <title>Manage Customerinfo</title>
			<sort_order>0</sort_order>
			<action>admin_retailers/adminhtml_customerinfo</action>
		  </customerinfo>
		</children>
	  </retailers>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<retailers translate="title" module="retailers">
			  <title>Retailers</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <customerinfo translate="title">
			<title>Manage Customerinfo</title>
			<sort_order>0</sort_order>
		  </customerinfo>
			  </children>
			</retailers>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<retailers>
		  <file>retailers.xml</file>
		</retailers>
	  </updates>
	</layout>
  </adminhtml>
</config> 