<?xml version="1.0"?>
<config>
  <modules>
    <Omniesolutions_Retailer>
      <version>0.1.0</version>
    </Omniesolutions_Retailer>
  </modules>
  <frontend>
    <routers>
      <retailer>
        <use>standard</use>
          <args>
            <module>Omniesolutions_Retailer</module>
            <frontName>retailer</frontName>
          </args>
      </retailer>
    </routers>
		<layout>
		  <updates>
			<retailer>
			  <file>retailer.xml</file>
			</retailer>
		  </updates>
		</layout>
  </frontend>
  <global>
		<rewrite>        
            <omniesolutions_retailer_customer_accountcontroller>
                <from><![CDATA[#^/customer/account/#]]></from> <!-- Mage_Customer_AccountController  -->
                <to>/retailer/customer_account/</to> <!-- Omniesolutions_Retailer_Customer_AccountController  -->
            </omniesolutions_retailer_customer_accountcontroller>
		</rewrite>
    <helpers>
      <retailer>
        <class>Omniesolutions_Retailer_Helper</class>
      </retailer>
    </helpers>
	<blocks>
	  <retailer>
		<class>Omniesolutions_Retailer_Block</class>
	  </retailer>
	</blocks>
	<models>
	  <retailer>
		<class>Omniesolutions_Retailer_Model</class>
		<resourceModel>retailer_mysql4</resourceModel>
	  </retailer>
	</models>
	<resources>
	  <customer1438091467_setup>
		<setup>
		  <module>Omniesolutions_Customerdata</module>
		  <class>Mage_Customer_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customer1438091467_setup>
	  <customer1438091467_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customer1438091467_write>
	  <customer1438091467_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customer1438091467_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <retailer>
	    <use>admin</use>
		<args>
		  <module>Omniesolutions_Retailer</module>
		  <frontName>admin_retailer</frontName>
		</args>
	  </retailer>
	</routers>
  </admin>
</config> 