<?xml version="1.0"?>
<config>
    <modules>
        <Omniesolutions_Mainslider>
            <version>0.1.0</version>
        </Omniesolutions_Mainslider>
    </modules>
    <frontend>
        <routers>
            <mainslider>
                <use>standard</use>
                <args>
                    <module>Omniesolutions_Mainslider</module>
                    <frontName>mainslider</frontName>
                </args>
            </mainslider>
        </routers>
        <layout>
            <updates>
                <mainslider>
                    <file>mainslider.xml</file>
                </mainslider>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <mainslider>
                <class>Omniesolutions_Mainslider_Helper</class>
            </mainslider>
        </helpers>
        <blocks>
            <mainslider>
                <class>Omniesolutions_Mainslider_Block</class>
            </mainslider>
        </blocks>
        <models>
            <mainslider>
                <class>Omniesolutions_Mainslider_Model</class>
                <resourceModel>mainslider_mysql4</resourceModel>
            </mainslider>
            <mainslider_mysql4>
                <class>Omniesolutions_Mainslider_Model_Mysql4</class>
                <entities>		  
                    <mainslider>
                        <table>mainslider</table>
                    </mainslider>
                </entities>
            </mainslider_mysql4>
        </models>
        <resources>
            <mainslider_setup>
                <setup>
                    <module>Omniesolutions_Mainslider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mainslider_setup>
            <mainslider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mainslider_write>
            <mainslider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mainslider_read>
        </resources>
    </global>
    <admin>
        <routers>
            <mainslider>
                <use>admin</use>
                <args>
                    <module>Omniesolutions_Mainslider</module>
                    <frontName>admin_mainslider</frontName>
                </args>
            </mainslider>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <socialspot module="mainslider">
                <sort_order>100</sort_order>
                <children>
                    <mainslider module="mainslider">
                        <title>Manage Mainslider</title>
                        <sort_order>0</sort_order>
                        <action>admin_mainslider/adminhtml_mainslider</action>
                    </mainslider>
                </children>
            </socialspot>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <socialspot translate="title" module="mainslider">
                            <sort_order>1000</sort_order>
                            <children>
                                <mainslider translate="title">
                                    <title>Banner Module</title>
                                </mainslider>
                            </children>
                        </socialspot>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <mainslider>
                    <file>mainslider.xml</file>
                </mainslider>
            </updates>
        </layout>
    </adminhtml>
</config> 