<?xml version="1.0"?>
<config>
  <modules>
    <Omniesolutions_Career>
      <version>0.1.2</version>
    </Omniesolutions_Career>
  </modules>
  <frontend>
    <routers>
      <career>
        <use>standard</use>
          <args>
            <module>Omniesolutions_Career</module>
            <frontName>career</frontName>
          </args>
      </career>
    </routers>
		<layout>
		  <updates>
			<career>
			  <file>career.xml</file>
			</career>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <career>
        <class>Omniesolutions_Career_Helper</class>
      </career>
    </helpers>
	<blocks>
	  <career>
		<class>Omniesolutions_Career_Block</class>
	  </career>
	</blocks>
	<models>
	  <career>
		<class>Omniesolutions_Career_Model</class>
		<resourceModel>career_mysql4</resourceModel>
	  </career>
	  <career_mysql4>
		<class>Omniesolutions_Career_Model_Mysql4</class>
		<entities>		  
			  <openposition>
				<table>open_position</table>
			  </openposition>		  
			  <career>
				<table>career_info</table>
			  </career>
        </entities>
	  </career_mysql4>
	</models>
	<resources>
	  <career_setup>
		<setup>
		  <module>Omniesolutions_Career</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </career_setup>
	  <career_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </career_write>
	  <career_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </career_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <career>
	    <use>admin</use>
		<args>
		  <module>Omniesolutions_Career</module>
		  <frontName>admin_career</frontName>
		</args>
	  </career>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <career module="career">
		<title>Career</title>
		<sort_order>100</sort_order>
		<children>
		  <openposition module="career">
		    <title>Manage Openposition</title>
			<sort_order>0</sort_order>
			<action>admin_career/adminhtml_openposition</action>
		  </openposition>
		  <career module="career">
		    <title>Manage Career</title>
			<sort_order>10</sort_order>
			<action>admin_career/adminhtml_career</action>
		  </career>
		</children>
	  </career>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<career translate="title" module="career">
			  <title>Career</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <openposition translate="title">
			<title>Manage Openposition</title>
			<sort_order>0</sort_order>
		  </openposition>
		  <career translate="title">
			<title>Manage Career</title>
			<sort_order>10</sort_order>
		  </career>
			  </children>
			</career>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<career>
		  <file>career.xml</file>
		</career>
	  </updates>
	</layout>
  </adminhtml>
</config> 